@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500,600,700&display=swap');

@import "tailwindcss";



body {font-family:'Inter',sans-serif;}

@theme{
    --color-primary: #7C3AED;
    --color-primary-dark: #6D28D9;
    --color-text-primary: #0F172A;
    --color-text-secundary: #64748b;
    --color-bg: #f8fafc;
    --color-surface: #ffffff;
    --color-border: #e2e8f0;
}

